{% extends "base.html" %}
{% block title %}Register{% endblock %}


{% block content %}
    <div class="wrapper fadeInDown">

        <div id="formContent">
            <!-- Login Form -->
            <div id="message">
                <p>Please fill out the following fields and submit to complete your registration</p>
            </div>
            <form>
                <label for="username"></label><input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
                <label for="password"></label><input type="password" id="password" class="fadeIn second" name="password" placeholder="password">
                <input type="submit" class="fadeIn third" value="Register" formmethod="post" formaction="/register">
            </form>
        </div>
    </div>
{% endblock %}